<tr>
  <td>
    <h4><%= image_tag product.image.tiny.url %></h4>
  </td>
  <td>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol line_item[:item_price] / 100 %>
  </td>
  <td>
    <%= line_item[:quantity] %>
  </td>
  <td>
    <%= humanized_money_with_symbol line_item[:total] / 100 %>
  </td>
</tr>